footer{
  border-top: 1px solid #f1f6fe;
  background-color: #f1f6fe;
}
html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
  }
  
#footer .footer{
    padding: 60px 0 30px 0;
    background: #fff;
        width: 100%;
        position: relative;
        height: auto;
    
      
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }

.social-links a:hover {
    background: #288f00;
    
    color: #fff;
    text-decoration: none;
}

.social-links a {
    
    display: inline-block;
    color: #288f00;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .about_us h3{
    color: #288f00;
    
      padding: 0;
      margin: 0;
      padding-bottom: 7px;
      
      
  }
  
  .our_policies h3{
      color: #288f00;
      padding-bottom: 7px;
      padding: 0%;
      margin: 0%;
  }
  .footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
  }
  
  .footer-ul li {
    line-height: 29px;
    font-size: 14px;
    margin-top: 5px;
  }
  .footer-ul i {
    margin-right: 10px;
    text-decoration: none;
    color: #288f00;
  }
  
  .footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;

    display: inline-block;
    text-decoration: none;
  }
  

.footer-ul a{
    color:#000;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  padding-bottom: 7px;
}
  
  .social-links h3{
      color: #288f00;
      padding: 0%;
      margin: 0%;
      padding-bottom: 7px;
  }
  
  .location h3{
      color: #288f00;
      padding: 0;
      margin: 0;
      padding-bottom: 7px;

  }
  @media only screen and (max-width:600px){
    .container {
      margin: 0 auto;
    }
} 

.copyright {
  /* background-color:#E99674; */
  min-height: 35px;
  align-items: center;
  
}
.copyright p{
  text-align: center;
  color: #fff;
  }

@media screen and (max-width: 578px) {
   .copyright{
    float: none;
    text-align: center;
    padding: 2px 0; 
  }

}
.container_1{
  background-color: #000;

}
.footer-ul a:hover, a:active{
  color:#288f00;
  font-weight: bold;
}
  .image{
    width: 100px;
    height: 100px;
    background-size: cover;
}

