<footer id="footer">
    <div class="footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-8 mt-2">
            <div class="logo_part">
                <img src="../../assets/images/Logo/logo3.png" class="image">
            </div>
            </div> 

          <div class=" col-lg-3 col-md-8 mt-2">
              <div class="about_us">
            <h3>About us</h3>
            Koodedaan.com commercial waste collection provides your business with a range of containers and service schedules for your garbage pickup needs.
          </div>
          </div>

          <div class="col-lg-3 col-md-8 mt-2">
              <div class="our_policies">
            <h3>Our Policies</h3>
            <ul class="footer-ul">
            
             <li><i class="fas fa-chevron-right"></i> <a href="#">Privacy policy</a></li>
            <li><i class="fas fa-chevron-right" ></i> <a href="#">Cookie Policy</a></li>
             <li><i class="fas fa-chevron-right"></i> <a href="#">Terms of service</a></li>
              </ul>
              </div>
        
              <div class="social-links mt-2">
                  <h3>Contact Us</h3>
          
                <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                
                <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
  
          </div>

          <div class=" col-12 col-lg-3 col-md-8 mt-2">
              <div class="location">
            <h3>Our Location</h3>
            <p>
                <i class="fas fa-map-marker-alt"></i> E-450, Second floor, phase-2, New Palam Vihar, Gurugram, Haryana-122017
            </p>
            <p><i class="fas fa-mobile-alt"></i> +91844 8339 810, +91882 622 02222</p>
            <p><i class="fas fa-envelope-square"></i> info@tdsco.in</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</footer>
    <!--minifooter-->
<div class="col-12 d-none d-lg-block d-xl-block d-md-none bg-dark">
     <div class="container_1">
        <div class="copyright">
          <p>
          &copy; 2021 <strong><span> TDS </span></strong> | Technical Design and Services - All Rights Reserved
          </p>
        </div>
      </div>
 </div>     
  



