<div class="project mt-5">
    <div class="container">
        <div class="head col-12">
            <a id="project">
            <p>OUR PROJECT GALLERY</p>
            </a>
        </div>
        <div class="mid">
            <h3>Check our <span style="color: #288f00;">Project Gallery</span></h3>
        </div>
    </div>
</div>

    <!-- Images -->

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-12 my-2" >
      <div class="card" [routerLink]="['/projectlist']">
        <img src="../../../assets/images/Projects/about.jpg" class="image">
        <div class="middle">
            <div class="text">DLF ULTIMA</div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 my-2">
      <div class="card" [routerLink]="['/projectlist']">
        <img src="../../../assets/images/Projects/casestudy3.jpg" class="image">
        <div class="middle">
            <div class="text">ATAL AKSHAY URJA BHAWAN</div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 my-2">
      <div class="card" [routerLink]="['/projectlist']">
        <img src="../../../assets/images/Projects/casestudy4.jpg" class="image">
        <div class="middle">
            <div class="text">THREE PUBLIC SCHOOl</div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-12 my-2">
      <div class="card" [routerLink]="['/projectlist']">
        <img src="../../../assets/images/Projects/casestudy5.jpg" class="image">
        <div class="middle">
            <div class="text">MILAN MELA</div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 my-2">
      <div class="card" [routerLink]="['/projectlist']">
        <img src="../../../assets/images/Projects/casestudy7.jpg" class="image">
        <div class="middle">
            <div class="text">CHARTER COMMUNICATION TOWER-1</div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 my-2">
      <div class="card" [routerLink]="['/projectlist']">
        <img src="../../../assets/images/Projects/casestudy8.jpg" class="image">
        <div class="middle">
          <a id="about">
            <div class="text">ESIC HOSPITAL</div>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>