.head p{
    text-align: center;
    background-color:#92ee6d ;
    border-radius: 25px;
    padding: 5px;
font-weight: bold;
color: #288f00;
}
.head{
display: flex;
align-self: center;
justify-content: center;
flex-direction: row;
}
.mid{
display: flex;
align-self: center;
justify-content: center;
flex-direction: row;
}
.mid h3{
    text-align: center;
font-weight: bold;
}

.card{
    border-color: #ffffff;
    
        position: relative;
        
      
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .card:hover .image {
    opacity: 0.3;
  }
  .image{
    height: 200px;
    border-radius: 5px;
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .card:hover .middle {
    opacity: 1;
  }
  .text {
      font-weight: bold;
    color: #000;
    font-size: 16px;
    padding: 16px 32px;
  }
  