
.card{
    border-color: #ffffff;
    
        position: relative;
        
      
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .card:hover .image {
    opacity: 0.3;
  }
  .image{
    height: 200px;
    border-radius: 15px;
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .card:hover .middle {
    opacity: 1;
  }
  .text {
      font-weight: bold;
    color: #000;
    font-size: 16px;
    padding: 16px 32px;
  }
  /*slider css  */
 .carousel-control-prev{
  background-color: transparent;
  border: none;
}
.carousel-control-next{
  background-color: transparent;
  border: none;
}
/* .carousel-caption {
  top: auto;
  bottom: auto;
  background-color: aqua;
} */
.carousel-caption {
  position: absolute;
  bottom: 20%;
  z-index: 20;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-indicators{
  bottom: 15px;
}