<app-header></app-header>
<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel mt-5">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/pexels-photo-302769-940x500.jpeg" class="d-block w-100" style="height: 100vh;" alt="...">
      <!-- <div class="carousel-caption d-none d-md-block">
        <h3>Technical Design & Services</h3>
        <p>TDS(Technical design & Services) provides specialist facade consulting services to Architects, Builders & Developers offering an expertise on the design and implementation of the building envelope...</p>
        <div class="butt my-4">
          <button type="button" class="btn btn-danger">Read More</button>
      </div>
      </div> -->
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/building_architecture-1244x500.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
      <!-- 
      <div class="carousel-caption d-none d-md-block">
        <h3>Services Offered</h3>
        <p>Tendring-conceptual/ schemativ design, specification, BoQ etc, Design & Developments of facade systems, Structural, Thermal, Acoustic, Wind Studies & Calculations, Facade Terssting Criteria & Method Statements</p>
        <div class="butt my-4">
          <button type="button" class="btn btn-danger">Read More</button>
      </div>
      </div>
       -->
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/background-1024x418.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
      <!-- 
      <div class="carousel-caption d-none d-md-block">
        <h3>Get in Touch</h3>
        <p>E-450, Second Floor, Phase2, New Plam Vihar, Gurugram, Haryana-122017</p>
        <div class="butt my-4">
          <button type="button" class="btn btn-danger">Read More</button>
      </div>
      </div>
       -->
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- slider end -->

<div class="container">
    <div class="row">
      <div class="col-lg-4 col-12 my-5" >
        <div class="card">
          <img src="../../../assets/images/Projects/about.jpg" class="image">
          <div class="middle">
              <div class="text">DLF ULTIMA</div>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-5">
        <div class="card">
          <img src="../../../assets/images/Projects/casestudy3.jpg" class="image">
          <div class="middle">
              <div class="text">ATAL AKSHAY URJA BHAWAN</div>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-5">
        <div class="card">
          <img src="../../../assets/images/Projects/casestudy4.jpg" class="image">
          <div class="middle">
              <div class="text">THREE PUBLIC SCHOOl</div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12 my-2">
        <div class="card">
          <img src="../../../assets/images/Projects/casestudy5.jpg" class="image">
          <div class="middle">
              <div class="text">MILAN MELA</div>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="card">
          <img src="../../../assets/images/Projects/casestudy7.jpg" class="image">
          <div class="middle">
              <div class="text">CHARTER COMMUNICATION TOWER-1</div>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="card">
          <img src="../../../assets/images/Projects/casestudy8.jpg" class="image">
          <div class="middle">
              <div class="text">ESIC HOSPITAL</div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12 my-5" >
        <div class="card">
          <img src="../../../assets/images/Projects/about.jpg" class="image">
          <div class="middle">
              <div class="text">DLF ULTIMA</div>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-5">
        <div class="card">
          <img src="../../../assets/images/Projects/casestudy3.jpg" class="image">
          <div class="middle">
              <div class="text">ATAL AKSHAY URJA BHAWAN</div>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-5">
        <div class="card">
          <img src="../../../assets/images/Projects/casestudy4.jpg" class="image">
          <div class="middle">
              <div class="text">THREE PUBLIC SCHOOl</div>
            </div>
        </div>
      </div>
    </div>  
  </div>
  <app-footer></app-footer>