<app-header></app-header>
<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel mt-5">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/pexels-photo-302769-940x500.jpeg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Technical Design & Services</h3>
          <p>TDS(Technical design & Services) provides specialist facade consulting services to Architects, Builders & Developers offering an expertise on the design and implementation of the building envelope...</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/building_architecture-1244x500.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Services Offered</h3>
          <p>Tendring-conceptual/ schemativ design, specification, BoQ etc, Design & Developments of facade systems, Structural, Thermal, Acoustic, Wind Studies & Calculations, Facade Terssting Criteria & Method Statements</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/background-1024x418.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Get in Touch</h3>
          <p>E-450, Second Floor, Phase2, New Plam Vihar, Gurugram, Haryana-122017</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- slider end -->
<div class="container my-5">
    <div class="col-12">
        <h3>Drawing and Desgin</h3>

        <p style="text-align: justify;"> Drawing is one of the major forms of expressions within the visual arts and ideas. Where the accurate representation of the visual world is expressed upon a plane surface. We utilze advanced software programs to generate structural models of components, assemblies and systems. We layer loads modeling to include numerous factors and illustrate
            tyhe full range of possible conditions on the buliding. The schematics drawing and desgin will consider budget allocated the main intent
            behind the desgin and various legal and practical constraints related to constructing a buliding. Not only does it validate a desgin, but helps optimize the materials and reduce labor cost of the facade as well.
            </p>
            <p style="text-align: justify;">
                During the early stages of the facade desgin, we develop preliminary calculations to address system massing, approximation of spanning members and the dyanmics between the primary structure and facade. As the project envolves, we review facade
                mockups and project structural calculation submittals for compliance with specification and local conditions. Detailed designing will include collborating
            with all the agencies like architects, designers and more. Other than proper detailed drawings, the detailed design will also include all the information, costs, material, labour, etc. Floating such detailed bid documents ensure that the vendors sumbit bids which are complete in all aspect, thus saving a lot of time which otherwise would get invested in scrutinzing incomplete bids. It is for this very reason that detailed designing assumes a lot of siginificance.             </p>
        </div>
</div> 

<app-footer></app-footer>

