<app-header></app-header>
<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel mt-5">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/pexels-photo-302769-940x500.jpeg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!-- 
        <div class="carousel-caption d-none d-md-block">
          <h3>Technical Design & Services</h3>
          <p>TDS(Technical design & Services) provides specialist facade consulting services to Architects, Builders & Developers offering an expertise on the design and implementation of the building envelope...</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/building_architecture-1244x500.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Services Offered</h3>
          <p>Tendring-conceptual/ schemativ design, specification, BoQ etc, Design & Developments of facade systems, Structural, Thermal, Acoustic, Wind Studies & Calculations, Facade Terssting Criteria & Method Statements</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/background-1024x418.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Get in Touch</h3>
          <p>E-450, Second Floor, Phase2, New Plam Vihar, Gurugram, Haryana-122017</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- slider end -->
<div class="container my-5">
    <div class="col-12">
        <h3>Value Engineering</h3>

        <p> Value Engineering is a systematic  method to improve the "value" of facade systems, items and services by using an examination of function. Value is the ratio of function to cost. Value can therefore be increased by either improving the function or reducing the cost. It is a primary tenet of value enginnering that basic functions be  preserved and not be reduced as a consequence of pursuing value improvements.</p>
        <p>
            Our design team evaluates a project from with an operational overview of all aspects including design and methodology to acheive
            cost efficiency and feasibilty in delivering the best value product. In value enginnering, we do maximum optimization without compromsing 
            design intent and technical specification to reduce the cst of the following major items:</p>
         <ol>
             <li>Aluminium</li>
             <li>Glass</li>
             <li>Hardware</li>
             <li>Fire Stop</li>
             <li>Silicon</li>
             
         </ol>
        
    </div>
</div> 

<app-footer></app-footer>

