.carousel-control-prev{
    background-color: transparent;
    border: none;
}
.carousel-control-next{
    background-color: transparent;
    border: none;
}
/* .carousel-caption {
    top: auto;
    bottom: auto;
    background-color: aqua;
} */
.carousel-caption {
    position: absolute;
    bottom: 20%;
    z-index: 20;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }
  .carousel-indicators{
    bottom: 15px;
  }