<app-header></app-header>
<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel mt-5">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/pexels-photo-302769-940x500.jpeg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!-- 
        <div class="carousel-caption d-none d-md-block">
          <h3>Technical Design & Services</h3>
          <p>TDS(Technical design & Services) provides specialist facade consulting services to Architects, Builders & Developers offering an expertise on the design and implementation of the building envelope...</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/building_architecture-1244x500.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Services Offered</h3>
          <p>Tendring-conceptual/ schemativ design, specification, BoQ etc, Design & Developments of facade systems, Structural, Thermal, Acoustic, Wind Studies & Calculations, Facade Terssting Criteria & Method Statements</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/background-1024x418.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Get in Touch</h3>
          <p>E-450, Second Floor, Phase2, New Plam Vihar, Gurugram, Haryana-122017</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- slider end -->
<div class="container my-5" >
    <div class="col-10">
        <h3>Tendering / Budgeting</h3>

        <p>Estimation or Budgeting is the approximate cost of the project but it is also one of the important segments of project planning process. The cost estimate is the product of the cost estimating process. The cost estimate has a single total value and may have identifiable component values. A problem with a cost overrun can be avoided with acredible, reliable, and accurate costestimate. Precisely budgeted project will usually fall at or under budget upon project completion, Successof project can be acheive by spending adequate time during the planning process. Poor planning puts the project in crisis at the end where the cost of project files up by two or three times of budgeting.</p>
        

    </div>
</div> 

<app-footer></app-footer>


