<div class="project mt-5">
    <div class="container">
        <div class="head col-12">
            <p>WHY CHOOSE US</p>
        </div>
        <div class="mid">
          <h3 style="color: #000;">Why <span style="color: #b20009;">Choose Us</span></h3>
      </div>
    </div>
</div> 
<!-- cards -->
<div class="cards">
  <div class="container">
      
      <div class="sequence my-2">
        
          <div class="card col-lg-4 mt-2 col-12 mx-auto" style="width: 14rem;">
              
              <div class="image mx-auto my-3">
              <img src="../../../assets/images/Logo/TDS Logo/headphones.png" class="card-img-top" alt="...">
              </div>
              
              <div class="card-body">
                <h5 class="card-title">We Listen</h5>
                <p class="card-text">We listen to new ideas in order to implement as per your requirement.</p>
                 </div>
                 <div class="overlay">
              <div class="image mx-auto my-3">
                  <img src="../../../assets/images/Logo/TDS Logo/headphones-white.png" class="card-img-top" alt="...">
                  </div>
                  
                
                  <div class="card-body">
                    <h5 class="card-title">We Listen</h5>
                    <p class="card-text">We listen to new ideas in order to implement as per your requirement.</p>
                  </div>
                     </div>
                 
                 
              
            </div>
            <div class="card col-lg-4 mt-2 col-12 mx-auto" style="width: 14rem;">
              <div class="image mx-auto my-3">
              <img src="../../../assets/images/Logo/TDS Logo/first.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Winner</h5>
                <p class="card-text">we believe in winning through our diligent efforts.</p>
               
              </div>
              <div class="overlay">
              <div class="image mx-auto my-3">
              <img src="../../../assets/images/Logo/TDS Logo/first-white.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Winner</h5>
                <p class="card-text">we believe in winning through our diligent efforts.</p>
              </div>
              </div>

            </div>
            <div class="card col-lg-4 mt-2 col-12 mx-auto" style="width: 14rem;">
              <div class="image mx-auto my-3">
              <img src="../../../assets/images/Logo/TDS Logo/24-hours.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Help & Support</h5>
                <p class="card-text">We are available 24 hours to help and support our clients. </p>
                 
              </div>
              <div class="overlay">
              <div class="image mx-auto my-3">
              <img src="../../../assets/images/Logo/TDS Logo/24-hours-white.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Help & Support</h5>
                <p class="card-text">We are available 24 hours to help and support our clients. </p>
                 </div>
              </div>


            </div>
      </div>
      
      <div class="sequence my-2">

          <div class="card col-lg-4 col-12 mt-2 mx-auto" style="width: 14rem;">
              <div class="image mx-auto my-3"> 
              <img src="../../../assets/images/Logo/TDS Logo/roof.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">One Roof</h5>
                <p class="card-text">All your design solutions is under one TDS roof.</p>
                 
              </div>
              <div class="overlay">
              <div class="image mx-auto my-3">
                  <img src="../../../assets/images/Logo/TDS Logo/roof-white.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">One Roof</h5>
                    <p class="card-text"> All your design solutions is under one TDS roof.</p>
                     </div>
                  </div>
            </div>
            <div class="card col-lg-4 col-12 mt-2 mx-auto" style="width: 14rem;">
              <div class="image mx-auto my-3">
              <img src="../../../assets/images/Logo/TDS Logo/hand.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Dedication</h5>
                <p class="card-text">Our team work day in and day out to make your dream a reality.</p>
                  
              </div>
          <div class="overlay">
              <div class="image mx-auto my-3">
              <img src="../../../assets/images/Logo/TDS Logo/hand-white.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Dedication</h5>
                <p class="card-text">Our team work day in and day out to make your dream a reality.</p>
             </div>     
              </div>
            </div>
            <div class="card col-lg-4 col-12 mt-2 mx-auto" style="width: 14rem;">
              <div class="image mx-auto my-3">
              <img src="../../../assets/images/Logo/TDS Logo/laboratory-microscope-1.png" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Expert Team</h5>
                <p class="card-text">
                  We are proud to have an expert team with an experience over a decade.</p>
                  
              </div>
              <div class="overlay">

              <div class="image mx-auto my-3">
                  <img src="../../../assets/images/Logo/TDS Logo/laboratory-microscope.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Expert Team</h5>
                    <p class="card-text">
                      We are proud to have an expert team with an experience over a decade.</p>
                      </div>
                  </div>
            </div>
      </div>
  </div>
</div>
