.head p{
    text-align: center;
    background-color:#f7b0b4 ;
    border-radius: 25px;
    padding: 5px;
font-weight: bold;
color: #b20009;
}
.head{
display: flex;
align-self: center;
justify-content: center;
flex-direction: row;

}
.image{
    width: 70px;
    height:70px;
    display: block;
    

}
.card{
    border-radius:10px;
}
.card-body{
    position: relative;
    display: block;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#8d0000;
    overflow:hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
    color:#fff;
  }
  
  .card:hover .overlay {
    height: 100%;
    border-radius: 10px;
  }
  
.mid{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    }
    .mid h3{
        text-align: center;
    font-weight: bold;
    color: #8d0000;
    }
    .sequence{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    @media screen and (max-width:601px){
        .sequence{
            flex-direction: column;
        }
    }