.topbar{
    background-color: #288f00;
}
.fas{
    color: #fff;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact p{
    color: #fff;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
    display: flex;
    justify-content: space-evenly;
}
.fab{
    color: #ffffff;
    cursor: pointer;
}
.fab:hover{
    color: #fff;
}



/* Header */

/* Space between Navbar List Link */
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;

  }

  /* Nav Link Color */
  .nav-link, .navbar-brand{
      color:#288f00 ;
      cursor: pointer;
      font-weight: bold;
  }
  
  /* Nav background color */
  .navbar{
      background-color: #ffffff !important;
        position: -webkit-sticky;
        position: sticky;
        top: 0; 
  }
  

  .image{
      width: 60px;
      height: 60px;
      background-size: cover;
  }

  @media only screen and (min-width:600px){
    .navbar-nav{
        margin-left: 20% !important;
    }
}
 .nav-link:hover{
    color:  #288f00 !important;
    transition: 0.5s ease-in-out;
}
.active{
    border-bottom: 2px solid #288f00 !important;
}



.nav-container{
    z-index: 1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }