<!-- Top Bar -->
<div class="topbar p-1 d-none d-lg-block d-xl-block d-md-none">
    <div class="container">
        <div class="main">
    <div class="contact col-4 mt-1">
        <i class="fas fa-envelope fa-sm mt-2"></i>
        <p>contact@example.com</p>
        <i class="fas fa-phone-alt fa-sm mt-2"></i>
        <p>+1 5589 55488 55  
        </p>
    </div>
    <div class="icon col-2 mt-2">
        <i class="fab fa-twitter fa-sm"></i>
        <i class="fab fa-facebook-f fa-sm"></i>
        <i class="fab fa-instagram fa-sm"></i>
        <i class="fab fa-skype fa-sm"></i>
        <i class="fab fa-linkedin fa-sm"></i>
    </div>
</div>

</div>
</div>

<!-- Header -->
<nav class="navbar col-12 nav-container navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="col-lg-2" style="max-height: 150px; margin-left: 9%;">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/Logo/logo3.png" class="image">
      </a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars fa-lg mt-2" style="color:#000;"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">  
        
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" aria-current="page" href="#" >Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" href="#service" >Services</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/projectlist']" >Project</a>
          </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  

