.head p{
    text-align: center;
    background-color:#92ee6d;
    border-radius: 25px;
    padding: 5px;
font-weight: bold;
color: #288f00;
}
.head{
display: flex;
align-self: center;
justify-content: center;
flex-direction: row;

}

.mid h3{
    text-align: center;
font-weight: bold;
}

.card{
    border-radius:10px;
    border: 1px solid rgba(255,251,251);

}
.card-body{
    position: relative;
    display: block;
}
.icon i{
    display: block;
}
.fa{
    color:#288f00;

}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.card:hover{
    box-shadow: -25px 21px 22px -18px rgba(220,220,220,0.66);
-webkit-box-shadow: -25px 21px 22px -18px rgba(220,220,220,0.66);
-moz-box-shadow: -25px 21px 22px -18px rgba(220,220,220,0.66);
    transition: 0.5s ease-in-out;
}

.mid{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    }
    .mid h3{
        text-align: center;
    font-weight: bold;
    }
    .sequence{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    @media screen and (max-width:601px){
        .sequence{
            flex-direction: column;
        }
    }
    .container-heading{
        margin-bottom: 5%;
    }
    
    .form-label{
        font-size: 0.9em;
        font-weight: bold;
        color: rgb(66, 64, 64);
    }
    
    .form-control{
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        border-color: rgb(172, 172, 172) !important;
    }
    
    .btn-signin{
        background-color: #fff;
        border-radius: 0px;
        border-color: #288f00;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0.8%;
        padding-bottom: 0.8%;
        border-radius: 5px;
        color: #288f00;
        font-weight: 700;
    }
    .btn-signin:hover{
        background-color: #288f00;
        color: #fff;
        font-weight: 700;
    }
    .container-signup{
        /* box-shadow: 2px -8px 17px 10px rgba(172,172,172,0.75);
        -webkit-box-shadow: 2px -8px 17px 10px rgba(172,172,172,0.75);
        -moz-box-shadow: 2px -8px 17px 10px rgba(172,172,172,0.75); */
        display: flex;
        flex-direction: row;
    }
.btn{
    width: 25%;
}