<div class="project mt-5">
    <div class="container">
        <div class="head col-12">
            <p>CONTACT</p>
        </div>
        
        <div class="mid">
            <h3>Get in Touch <span style="color: #288f00">With Us</span></h3>
        </div>
    </div>
</div> 

<!-- cards -->
<div class="cards">
    <div class="container">
        
        <div class="sequence my-3">
          
            <div class="card col-12 col-lg-3 mx-auto" >
                
                <div class="icons mx-auto my-3">
                    <i class="fa fa-map-marker fa-4x" aria-hidden="true"></i>

                </div>
                <div class="card-body">
                  <h5 class="card-title">Our Address</h5>
                  <p class="card-text">E-450, Second floor, phase-2, New Palam Vihar, Gurugram, Haryana-122017</p>
                   </div>
                
                       </div>

            <div class="card col-12 col-lg-3 mx-auto">
                
             <div class="icons mx-auto my-3">
            <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
        
             </div>
            <div class="card-body">
             <h5 class="card-title">Email Us</h5>
             <p class="card-text">koodeaan12@gmail.com</p>
             </div>
                        
         </div>
         
         <div class="card col-12 col-lg-3 mx-auto">
                
            <div class="icons mx-auto my-3">
           <i class="fa fa-phone fa-4x" aria-hidden="true"></i>
       
            </div>
           <div class="card-body">
            <h5 class="card-title">Call Us</h5>
            <p class="card-text">+918285573895</p>
            </div>
                       
        </div> 
                   </div>
                </div>
              </div>

 

<!-- Form -->
<div class="container my-5">
    
    <div class="container-fluid container-signup mb-5"  >
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-lg-12  mx-auto">
                <div class="row" style="margin: 0%; padding: 0%;">
                    <div class="col-md-12">
                        <label for="validationCustom01" class="form-label">Your Name</label>
                        <input type="text" class="form-control" placeholder="Your Name(required)*" name="Email" required>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustom01" class="form-label">Your Email</label>
                        <input type="text" class="form-control" placeholder="Your Email Address(required)*" name="Email" required>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustom01" class="form-label">Your Phone</label>
                        <input type="number" class="form-control" placeholder="Your Phone Number(required)*" name="Email" required>
                    </div>
                    <div class="form-group my-2">
                        <label for="exampleFormControlTextarea1" style="font-weight: bold; color: rgb(66, 64, 64);">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                </div>
                <div class="container my-3">
                    <div class="col-12 text-center">
                        <div class="butt my-4">
                            <button type="button" class="btn btn-outline-success"[routerLink]="['/aboutus']">Send</button>
                        </div>
                    </div>
                </div>
            </div>
    
        </form>
        <div class="mapouter d-none d-lg-block d-xl-block d-md-none"><div class="gmap_canvas"><iframe width="100%" height="495" id="gmap_canvas" src="https://maps.google.com/maps?q=E-450,%20Second%20Floor,%20New%20Palam%20Vihar%20Phase%202,%20Gurugram,%20Haryana%20122017&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://yt2.org/it/youtube-to-mp3-ALeKk00qEW0sxByTDSpzaRvl8WxdMAeMytQ1611842368056QMMlSYKLwAsWUsAfLipqwCA2ahUKEwiikKDe5L7uAhVFCuwKHUuFBoYQ8tMDegUAQCSAQCYAQCqAQdnd3Mtd2l6"></a><br><style>.mapouter{position:relative;text-align:left;height:495px;width:100%;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:495px;width:100%;}</style></div></div>

        <!-- </div> -->
    </div>
</div>
