<div class="project mt-5">
    <div class="container">
        <div class="head col-12">
            <p>ABOUT US</p>
        </div>
        <div class="mid">
            <h3>Find Out More <span style="color:#288f00;">About US</span></h3>
        </div>
    </div>
</div>


<div class="dark p-5 mb-5">
    <div class="row sec3">
        <div class="col-lg-6 col-md-12 col-sm-12 sec3img d-none d-lg-block d-xl-block d-md-block align-self-center">
            <img src="../../../assets/images/Background/abt.png" style="height: 80%; width: 90%;">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 d-block d-xs-block d-sm-block d-md-none d-lg-none d-xl-none">
            <img src="../../../assets/images/Background/abt.png" style="height: 90%; width: 100%; text-align: center;">
        </div>
        
        <div class="sec3info col-lg-5 col-md-12 col-sm-12 p-5 align-self-center">
            <div class="whoweare">
            <h6>WHO WE ARE</h6>
            <div class="seperator pt-4 mx-auto"></div>
            <p> <b>Koodedaan.com</b> commercial waste collection provides your business with a range of containers and service schedules for your garbage pickup needs. Your local Waste Connections waste management facility has an inventory of commercial trash compactors, roll-off containers, and commercial dumpsters.
            </p>
          <a id="service">
            <div class="butt my-4">
                <button type="button" class="btn btn-outline-success"[routerLink]="['/aboutus']">Read More</button>
            </div>
            </a>
        </div>
        
    </div>
</div>
</div>