.head p{
    text-align: center;
    background-color:#92ee6d ;
    border-radius: 25px;
    padding: 5px;
font-weight: bold;
color: #288f00;
}
.head{
display: flex;
align-self: center;
justify-content: center;
flex-direction: row;

}

.mid{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    }
    .mid h3{
        text-align: center;
    font-weight: bold;
    }

/* .dark{
    background-color: #181f26;
} */
.sec3{
    display: flex;
    justify-content: center;
}
.sec3img{
    text-align: left;
}
.sec3info{
    text-align: left;
    font-family: 'TT Hoves';
}
.sec3info h6{
    font-size: 40px;
    color: #000;
}
.sec3info h4{
    font-size: 2.9vh;
    font-family: 'TT Hoves';
    }
    .sec3info p{
        font-size: 16px;
        color:#000;
        line-height: 30px;
        font-family: 'TT Hoves';
    }
    .sec3info .seperator{
        border-bottom: 4px solid #288f00;
        width: 35%;
        margin-bottom: 5%;
    }
    .butt{
        display: flex;
        justify-content: center;
    }
    .btn{
        border: 1px solid #288f00 !important;
    }
.btn:hover{
    border: 1px solid #fff;
}
.whoweare{
    text-align: center;
}