/*slider css  */
.carousel-control-prev{
   background-color: transparent;
   border: none;
 }
 .carousel-control-next{
   background-color: transparent;
   border: none;
 }
 /* .carousel-caption {
   top: auto;
   bottom: auto;
   background-color: aqua;
 } */
 .carousel-caption {
   position: absolute;
   bottom: 20%;
   z-index: 20;
   color: white;
   font-weight: bold;
   font-size: 20px;
   text-shadow: 0 1px 2px rgba(0,0,0,.6);
 }.container {
    background: #fff;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-bottom: 10px;
    padding-top:10px;
 
 }
  h3 {
     font-weight:normal;
     margin-bottom: 10px;
  }
  .carousel-indicators{
    bottom: 15px;
  }