<app-header></app-header>
<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel mt-5">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/pexels-photo-302769-940x500.jpeg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Technical Design & Services</h3>
          <p>TDS(Technical design & Services) provides specialist facade consulting services to Architects, Builders & Developers offering an expertise on the design and implementation of the building envelope...</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/building_architecture-1244x500.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!-- 
        <div class="carousel-caption d-none d-md-block">
          <h3>Services Offered</h3>
          <p>Tendring-conceptual/ schemativ design, specification, BoQ etc, Design & Developments of facade systems, Structural, Thermal, Acoustic, Wind Studies & Calculations, Facade Terssting Criteria & Method Statements</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/background-1024x418.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <!--  
        <div class="carousel-caption d-none d-md-block">
          <h3>Get in Touch</h3>
          <p>E-450, Second Floor, Phase2, New Plam Vihar, Gurugram, Haryana-122017</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
         -->
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- slider end -->
<div class="container my-5">
    <div class="col-12">
        <h3>Facade System Testing</h3>
        <p>
            with ever more innovative and unique buliding design, comes the need to ensure the performance of external structural and aesthetic facade and curtain wall technology. Our specialist facilities can accommodate facades of any size or design and perform  testing to British,American and other international standards. Whether your testing requirement is at the pre-construction phase
            for desgin vaildation or on site, as part of the QA/QC programmes,we can give you the answers you need.

        </p>
        <p>
            TDS provide an integrated service covering design review and failure analysis metalic components and systems, glass, sealants, anchors, fixing, doors and windows. As architects
            and enginners continue to pushthe boundaries in construction and civil enginnering. TDS is at forefront of buliding performance
            testing and scientific services, providing assurances across a full spectrum of buliding parameters.
        </p>
        <p>
            Below are some testing parameters for facade system:
        </p>
        <ul type="cricle">
            <li>Air infiltration and exfiltration (ASTM E331 and AS/NZS 4284)</li>
            <li>Static water penetration(ASTM E283 and AS/NZS 4284)</li>
            <li>Dyanmic water penetration (AAMA501.1)</li>
            <li>Lateral movement(Seismic)(AAMA501.4 and AS/NZS 4284)</li>
            <li>On-Site Testing (AAMA501.2, AAMA501.3, ASTM E1105 and ASTM E783)</li>
            <li>Cyclic water penetration (ASTM E547 and AS/NZS 4284)</li>
            <li>Structural performance (ASTM E330 and AS/NZS 4284)</li>
            <li>Proof Load(ASTM E330 and AS/NZS 4284)</li>



        </ul>

    </div>
</div> 

<app-footer></app-footer>

