.container {
    background: #fff;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-bottom: 10px;
    padding-top:10px;
 
 }
  h3 {
     font-weight:normal;
     margin-bottom: 10px;
  }
  .carousel-indicators{
   bottom: 15px;
 }