<app-header></app-header>
<div class="container my-5">
    <div class="col-12">
        <h3>Failure Investigation & Inspection</h3>
        <p>
            Failure Inestigation:
        </p>
        <ul type="square">
            <li>Inspect and review failure at location</li>
            <li>Review respective design drawing and structural calculation</li>
            <li>In absence of above ,evaluate performance based upon information availableand thorough site inspection</li>
            <li>Identify failure causes and advise solution</li>

        </ul>
        <p>
            Inspection Services:
        </p>
        <ul type="square">
            <li>Establishment of quality assurance and quality control strategy, methodologies and tools</li>
            <li>Carry out preiodic QC inspections</li>
            <li>Deployment of part time and full time inspector at contractor's factory/Vendor Plant/Project site.</li>
            <li>Provide solutions to on-site problems</li>
        </ul>
        

    </div>
</div> 

<app-footer></app-footer>

