.container {
    background: #fff;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-bottom: 10px;
    padding-top:10px;
 
 }
  h3 {
     font-weight:normal;
     margin-bottom: 10px;
  }
.card:hover{
    box-shadow: -25px 21px 22px -18px rgba(220,220,220,0.66);
-webkit-box-shadow: -25px 21px 22px -18px rgba(220,220,220,0.66);
-moz-box-shadow: -25px 21px 22px -18px rgba(220,220,220,0.66);
    transition: 0.5s ease-in-out;
}
    .sequence{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
    @media screen and (max-width: 780px){
        .sequence{
            flex-direction: column;
        }
    }
   .card{
      border-radius: 10px;
      width:220px;
      height: 220px;
      
   }
  .flip-card {
   width: 220px;
   height: 220px;
   border-radius: 10px;
   
 }
 
 .flip-card-inner {
   position: absolute;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.4s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   border-radius: 10px;
 }
 
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }
 
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   
 }
 
 
 .flip-card-front img {
    width: 100%;
    height: 100%;
 }
 .flip-card-back {
   background-color:#000;
   color: #fff;
   transform: rotateY(180deg);
   border-radius: 10px;
 }
 .flip-card-back h3{
   font-weight: bold;
 }
 .flip-card-back p{
   text-align: center;
 }

 /*slider css  */
 .carousel-control-prev{
  background-color: transparent;
  border: none;
}
.carousel-control-next{
  background-color: transparent;
  border: none;
}
/* .carousel-caption {
  top: auto;
  bottom: auto;
  background-color: aqua;
} */
.carousel-caption {
  position: absolute;
  bottom: 20%;
  z-index: 20;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-indicators{
  bottom: 15px;
}