

<app-header></app-header>
<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel mt-5">
  <div class="carousel-indicators">
    <button type="button" class="crl" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/pexels-photo-302769-940x500.jpeg" class="d-block w-100" style="height: 100vh;" alt="...">
      <!-- 
      <div class="carousel-caption d-none d-md-block">
        <h3>Technical Design & Services</h3>
        <p>TDS(Technical design & Services) provides specialist facade consulting services to Architects, Builders & Developers offering an expertise on the design and implementation of the building envelope...</p>
        <div class="butt my-4">
          <button type="button" class="btn btn-danger">Read More</button>
      </div>
      </div>
     -->
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/building_architecture-1244x500.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
      <!-- 
      <div class="carousel-caption d-none d-md-block">
        <h3>Services Offered</h3>
        <p>Tendring-conceptual/ schemativ design, specification, BoQ etc, Design & Developments of facade systems, Structural, Thermal, Acoustic, Wind Studies & Calculations, Facade Terssting Criteria & Method Statements</p>
        <div class="butt my-4">
          <button type="button" class="btn btn-danger">Read More</button>
      </div>
      </div>
       -->
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/background-1024x418.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
      <!-- 
      <div class="carousel-caption d-none d-md-block">
        <h3>Get in Touch</h3>
        <p>E-450, Second Floor, Phase2, New Plam Vihar, Gurugram, Haryana-122017</p>
        <div class="butt my-4">
          <button type="button" class="btn btn-danger">Read More</button>
      </div>
      </div>
       -->
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- slider end -->
<!-- aboutsection -->
<div class="container my-5">
    <div class="col-12">
        <h3>About Us</h3>
        <p>
           <b> TDS(Technical Desgin & Services)</b> provides specialist facade consulting services to Architects, Buliders & Developers offering an expertise on the desgin and implementation  of the buliding envelope.
        </p>
        <p>
            TDS(Technical Desgin & Services) provide facade consultancy and engineering services globally, hard involvement in cost effective desgin and conformity to architects 
            concepts designs, also adds complementary points of interest, such as optimal energy savings, appropriate thermal, acoustic and visual comforts, safety standards and efficients equipment systems to clean and repair the facades, these are all researched in-house in collaboration by the various disciplined team members.
        </p>
        <p>
         
           We are National firms capablity of international design offering a wide range of professional services including value engineering, technologies, design and consulting in the specialist field of facade enginnering of highly specialist broad minded indiviuals with strong international expriences. The firms has a creative working environment for the team to produce inspirational designs and promote an unconventional approach for the design issues.        </p>
    <P>
        It's a great introduce <b>TDS</b> as Facade Technical support company for systems design & Engineering with an objective of being a solution provider for all your needs
        pertaining to facade systems like Unitized Curtain Wall, Semi Unitized Curtain Wall, ACP & Stone Cladding System and Spider Glazing. We have started in the year 2017
        and emerged as prime facade consultant in north India and working for premium Developers, Architects and Fabricator to ease facade design less annoyance for all. 
    </P>
    <p> 
        Noe we have dedicated and energetic team of Mechanical and Civil Engineers who can deliver a large number of innovative 
    & economical designs to give a reputed name of <b>TDS</b> with your support and importantly with your blessings.
    </p>

        </div> 
        <div class="col-12">
            <h3 style="color:#EE141F;">OUR STRENGTH</h3>
            <p>
                TDS is led by <b>Varun Sanoria</b>, B-Tech(civil) Associate member of IEI(AM156031-2) & <b>Manish Kumar</b>, B-Tech(civil) who working in Facade Industry by more than 12 years
            with national and international expeience.
        <ul>
            <li>TDS has good team strength ability to complete the projects over 50cr.</li>
            <li>We have great emphazised on technical exxellence on all our works.</li>
            <li>We believe our unique capablity  of offering integrated multi discipline will greatly benefit to our clients and projects.</li>
            <li>We have  an ability to bring the skills and technologies needed for any  challenging project requriments.</li>
            <li>Our expertise is covering  new built and existing buildings.</li>
            <li>We strongly believe our international Experience, Local knowledge & Local presence will greatly influence for a positive impact on project.</li>
            <li>The Team TDS is driven by passion and drive for continuous innovation to provide ideal designs pretaining to  the needs of the designers and customers. </li>

        </ul>          
    </div>
    </div>
<!-- cards -->
<div class="cards col-lg-10 offset-lg-1">

    <div class="sequence my-2">
    <div class="card col-10 col-lg-2 mx-auto my-2" >
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="http://tdsco.in/wp-content/uploads/2018/05/mission@2x.png" alt="...">
      </div>
      <div class="flip-card-back">
        <h3 class="mission mx-auto my-2">Mission Statement </h3> 
        <p>
            To provide services to customers globally with cutting edge technologies and guaranteed cost savings.
        </p>
        </div>
      </div>
    </div>
        </div>
        <div class="card col-10 col-lg-2 mx-auto my-2" >
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="http://tdsco.in/wp-content/uploads/2018/05/vision@2x.png" alt="...">
          </div>
          <div class="flip-card-back ">
            <h3 class="vision mx-auto my-2">Our Vision</h3> 
            <p>
                To be recognized as a leading Business process Outsourcing service provider delievering exemplary services.
            </p>
            </div>
          </div>
        </div>
    
  </div>
  <div class="card col-10 col-lg-2 mx-auto my-2" >
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="http://tdsco.in/wp-content/uploads/2018/05/values@2x.png" alt="...">
          </div>
          <div class="flip-card-back">
            <h3 class="values mx-auto my-2">Our Values</h3> 
            <p>
                To surpass client expectations consistently, set laudable standards in all our business and transactions and be sincere, ethical and transparent in all our transactions.
            </p>
            </div>
          </div>
        </div>
    
  </div>
  </div>

  </div>
  
  
<app-footer></app-footer>
