<app-header></app-header>
<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel mt-5">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/pexels-photo-302769-940x500.jpeg" class="d-block w-100" style="height: 100vh;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Technical Design & Services</h3>
          <p>TDS(Technical design & Services) provides specialist facade consulting services to Architects, Builders & Developers offering an expertise on the design and implementation of the building envelope...</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/building_architecture-1244x500.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Services Offered</h3>
          <p>Tendring-conceptual/ schemativ design, specification, BoQ etc, Design & Developments of facade systems, Structural, Thermal, Acoustic, Wind Studies & Calculations, Facade Terssting Criteria & Method Statements</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/background-1024x418.jpg" class="d-block w-100" style="height: 100vh;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Get in Touch</h3>
          <p>E-450, Second Floor, Phase2, New Plam Vihar, Gurugram, Haryana-122017</p>
          <div class="butt my-4">
            <button type="button" class="btn btn-danger">Read More</button>
        </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- slider end -->
<div class="container my-5">
    <div class="col-12">
        <h3>Green Buliding</h3>
        <p>
            Green building refers to both a structure and the application of process that are environmentally responsible and resource-efficient throughout a building's life cycle from planning to design, contruction, maintance, renovation, and demolition. This requires close cooperation of the contractor, the architects, the engineers, and the client at all project stages.
            The Green Buliding practice expands and compliments the classical building design concerns of economy, utility, durability and comfort.
        </p>
        <p>
            Integrating green living elements requires a multi-faceted approach to long-term livinhg viability of the plant life, planting medium and hydration and the adverse effects on adjacent facade or one that is designed to change with the environment, the opportunities to create vertical landscaped surfaces within the facade are endless.
        </p>

        

    </div>
</div> 

<app-footer></app-footer>

