.head p{
    text-align: center;
    background-color:#92ee6d;
    border-radius: 25px;
    padding: 5px;
font-weight: bold;
color: #288f00;
}
.head{
display: flex;
align-self: center;
justify-content: center;
flex-direction: row;
}
.image{
    width: 70px;
    height:70px;
    display: block;
}
.middle{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    }
    .middle h3{
        text-align: center;
    font-weight: bold;
    }
.mid{
display: flex;
align-self: center;
justify-content: center;
flex-direction: row;
}
.mid h3{
    text-align: center;
font-weight: bold;
}
.sequence{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media screen and (max-width:601px){
    .sequence{
        flex-direction: column;
    }
}
.card:hover{
    box-shadow: -1px 0px 71px -29px rgba(165,150,150,0.75);
    -webkit-box-shadow: -1px 0px 71px -29px rgba(165,150,150,0.75);
    -moz-box-shadow: -1px 0px 71px -29px rgba(165,150,150,0.75);
    transition: 0.5s ease-in-out;
}

.btn:hover{
    border: #fff;
}
.card-title{
    color:#288f00;
}
.card{
    border:1px solid rgb(255, 251, 251);
    transition-duration: 400;
}
.butt{
    display: flex;
    justify-content: center;
}
.card-body{
    text-align:center;
}
.fas{
color: #288f00;
}