<div class="project mt-5">
    <div class="container">
        <div class="head col-12">
            <p>SERVICES</p>
        </div>
        <div class="mid">
          <h3>We Provide <span style="color: #288f00;">Services</span></h3>
      </div>
    </div>
</div>
<!-- Cards -->
<div class="cards">
    
        <div class="sequence my-2">
            <div class="card col-lg-3 col-12 mt-2 mx-auto" style="width: 18rem;">
              <div class="image mx-auto my-3">
                <i class="fas fa-road fa-5x"></i>
              </div>
                <div class="card-body">
                  <h5 class="card-title">Cleaning Streets</h5>
                  <p class="card-text">By removing stray trash, stains, debris and broken asphalt, a street sweeper allows a street to look cleaner and more attractive. In contrast, a street which is never swept will collect trash and residue.</p>
                    <!-- <div class="butt my-4">
                        <button type="button" class="btn btn-outline-success" [routerLink]="['/tendering']">Read More</button>
                    </div> -->
                </div>
              </div>
              <div class="card col-lg-3 col-12 mt-2 mx-auto" style="width: 18rem;">
                <div class="image mx-auto my-3">
                  <i class="fas fa-landmark fa-5x"></i>
              </div>
                <div class="card-body">
                  <h5 class="card-title">Cleaning Lawns</h5>
                  <p class="card-text">Ongoing maintenance is important for healthy plants and trees. Unsightly weeds and fungi not only look bad, they steal soil nutrients, water, and sunlight that your landscape plants need to grow properly</p>
                    <!-- <div class="butt my-4">
                        <button type="button" class="btn btn-outline-success"[routerLink]="['/drawing']">Read More</button>
                    </div> -->
                </div>
              </div>
              <div class="card col-lg-3 col-12 mt-2 mx-auto" style="width: 18rem;">
                <div class="image mx-auto my-3">
                  <i class="fas fa-home fa-5x"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Cleaning Residents</h5>
                  <p class="card-text">It is also important to keep our community clean so that humans, animals, and plants are not exposed to pollutants that can harm them. </p>
                    <!-- <div class="butt my-4">
                        <button type="button" class="btn btn-outline-success"[routerLink]="['/value']">Read More</button>
                    </div> -->
                </div>
              </div>

        

            <div class="card col-lg-3 col-12 mt-2 mx-auto" style="width: 18rem;">
              <div class="image mx-auto my-3">
                <i class="fas fa-tree fa-5x"></i>
              </div>
                <div class="card-body">
                  <h5 class="card-title">Plantig Tress</h5>
                  <p class="card-text">Trees give off oxygen that we need to breathe. Trees reduce the amount of storm water runoff, which reduces erosion and pollution in our waterways and may reduce the effects of flooding. Many species of wildlife depend on trees for habitat.</p>
            <a id="contact">
                    <!-- <div class="col-12 butt my-4 mx-auto">
                        <button type="button" class="btn btn-outline-success"[routerLink]="['/facade']">Read More</button>
                    </div> -->
                    </a>
                </div>
              </div>
        </div>

              <!-- <div class="sequence my-2">
              <div class="card col-lg-4 col-12 mt-2 mx-auto" style="width: 18rem;">
                <div class="image mx-auto my-3">
                <img src="../../../assets/images/Logo/TDS Logo/inspection.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">FAILURE INVESTIGATION AND INSPECTION</h5>
                  <p class="card-text">Inspect or review failure at location, review respective design drawings and structural calculation.
                    In absence of above, evaluate performance based upon...</p>
                    <div class="butt my-4">
                        <button type="button" class="btn btn-outline-danger"[routerLink]="['/failure']">Read More</button>
                    </div>
                </div>
              </div>
              <div class="card col-lg-4 col-12 mt-2 mx-auto" style="width: 18rem;">
                <div class="image mx-auto my-3">
                <img src="../../../assets/images/Logo/TDS Logo/building.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">GREEN BUILDING</h5>
                  <p class="card-text">Green building refers to both a structure and the application of process that are environmentally
                    responsible and resource-efficient throughout a building's life cycle from planning...</p>
                    <div class="butt my-4">
                        <button type="button" class="btn btn-outline-danger"[routerLink]="['/green']">Read More</button>
                    </div>
                </div>
              </div> -->
        <!-- </div> -->
  
</div>
